body {
   margin: 0;
   height: 100%;
}

.scene,
canvas {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
}

#scene{
    width: 50%;
    height: 100%;
}

.mycard{
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 99%;
    height: 800px;
}


.form-container {
    position: relative;
    top: 40px;
    left: 40px;
    max-width: 200px;
    height: 100px;
}

.random{
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    margin: 1rem 0;
    padding: 1rem;
    overflow: auto;
}